main.*.*
venv
.idea
*.pyc
*.DS_Store
.ipynb_checkpoints
*.ipynb
*.pyc
2017-*
experiments
*.csv
*.local
*.gz
*.pkl
applications/static/css/main.577bd4f3.css
applications/static/css/main.577bd4f3.css.map
applications/static/js/main.102b10d9.js
applications/static/js/main.102b10d9.js.map
build/static/css/main.577bd4f3.css
build/static/css/main.577bd4f3.css.map
build/static/js/main.102b10d9.js
build/static/js/main.102b10d9.js.map
build
dev-one.conf
terraform/.plan
terraform/.terraform
terraform.tfstate
terraform.tfstate.backup
python_environments
python3venv
*.pyo
*.zip
2
.coverage
src/applications/js/
aws-env
.DS_Store
detail_test.json
docker-compose.yaml
dev-one.conf
*.rdb
*applications/static/
src/applications/static
*.json
