bs4
requests
pandas>=0.23.1
scipy
numpy
pyyaml
flask
gevent
psycogreen
gunicorn
python-dotenv
psycopg2-binary
Click
flask-cors
sklearn
Flask-SSLify
warrant
termcolor
terminaltables
xlrd
openpyxl
zipfile2
pptree
deprecation
filetype
prince
pathlib
profilehooks
redis==2.10.6
pathos
scikit-learn
pylzma
flatten-dict
